.hero {
  width: 100%;
  height: 100%;
  color: #00BFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__content {
    display: flex;
    text-align: center;

    @include mq-lrg {
     padding-left: 0px;
      padding-right: 0px;
    }

    @include mq-med {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include mq-sml {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__header {
    padding: 120px 40px 160px 40px;
    position: relative;

    @include mq-med {
      z-index: 6;
      max-width: 400px;
    }
  }

  &__title {
    @include font-size(4.4);
    font-family: "Computer";
    font-weight: 400;
    line-height: 1.3;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;

    @include mq-med {
      @include font-size(3.2);
    }
  }

  &__subTitle {
    @include font-size(2.2);
    font-family: "Computer";
    margin-bottom: 60px;
    line-height: 1.8;

    @include mq-med {
      @include font-size(1.8);
    }
  }
}

.section {
  padding: 20px;


  display: flex;
  justify-content: center;

  &--spacing-bottom {
    margin-bottom: 40px;
  }

  &--spacing-bottom-lg {
    margin-bottom: 80px;
  }

  &__content {
    background-color: transparent;
    position: relative;
    padding-bottom: 0;

    &--hr-top {
      border-top: 1px solid $divider;
    }

    &--hr-bottom {
      border-bottom: 1px solid $divider;
    }

    &--tint {
      background: #FFFFFF;
    }

    &--thin-top {
      padding-top: 0;
    }

    @include mq-lrg {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px;
    }

    @include mq-med {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
    }

    @include mq-sml {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__title {
    @include title-underline(10px, 100px);
    margin-bottom: 20px;

    &--alt {
      @include font-size(2.4);
    }

    @include mq-sml {
      @include font-size(2.4);
    }
  }

  &__subTitle {
    @include font-size(1.6);
    padding-right: 100px;

    @include mq-med {
      margin-bottom: 20px;
    }
  }

}

.header-section {
  padding-top: 100px;
  width: 100%;
  max-width: $contentWidth;
  border-width: 0px 0px 1px;

  &__content {
    display: flex;


    &--spacing-bottom {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    @include mq-lrg {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include mq-med {
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }

    @include mq-sml {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__heading {
    flex: 1;
    padding-top: 20px;
  }

  &__title {
    @include font-size(2.4);
    font-weight: 700;
    color: #00BFFF;
    margin-bottom: 10px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-top: 24px;
    position: relative;

    @include mq-sml {
      @include font-size(4);
    }

    @include mq-xsml {
      @include font-size(3.8)
    }

    &::after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      background: transparent;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__subTitle {
    @include font-size(1.6);
  }

  &__features {
    @include font-size(2.4);
    font-weight: 700;
    text-align: center;
    color: #00BFFF;
    letter-spacing: 0.05em;
    margin-bottom: 28px;
    padding-bottom: 40px;
    position: relative;
  }
}

.dual-sections {
  display: flex;

  @include mq-med {
    display: block;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 80px;

    @include mq-med {
      padding: 0 0px 0  0px;
    }

  }

  &__title {
    letter-spacing: 0.05em;
    @include font-size(2.4);
    @include title-underline();
  }

  &__image {
    flex: 1;
    display: flex;
    align-items: center;

    @include mq-med {
      display: flex;
      justify-content: center;
      padding: 0;
    }

    img {
      max-width: 400px;
      max-height: 400px;
      display: block;

      @include mq-med {
        max-width: 300px;
        max-height: 300px;
      }

      @include mq-sml {
        max-width: 280px;
        max-height: 280px;
      }
    }

    &--sm {
      justify-content: center;

      img {
        max-width: 360px;
        max-height: 360px;
      }
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    .dual-sections__info {
      flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;

      @include mq-med {
        padding: 0 0px;
      }
    }



    .dual-sections__image {
      flex: 1;
    display: flex;
    align-items: center;

      @include mq-med {
        display: flex;
        justify-content: center;
        padding: 0;
      }

      img {
        max-width: 400px;
        max-height: 400px;
        display: block;

        @include mq-med {
          max-width: 300px;
          max-height: 300px;
        }

        @include mq-sml {
          max-width: 280px;
          max-height: 280px;
        }
      }

      &--sm {
      justify-content: center;

        img {
          max-height: 400px;
        }
      }
    }
  }
}


.footer {
  @include primary-font;
  width: 100%;
  background: transparent;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;

  @include mq-med {
    padding: 60px 40px 60px 40px;
  }

  @include mq-lrg {
    .navActive & {
      display: none;
    }
  }

  &__copyright {
    @include font-size(1.3);
    padding: 12px;
  }

  &__main {
    text-align: center;
    width: 100%;
    display: block;
    max-width: 1000px;
    display: flex;

    @include mq-med {
      display: block;
    }
  }

  &__col {
    &--left {
      flex: 1;

      @include mq-lrg {
        margin-bottom: 30px;
      }
    }

    &--right {
      flex: 3;
    }
  }

  &__logo {
    margin-bottom: px;

    @include mq-med {
      z-index: 6;
      max-width: 400px;
    }

  }

  &__social-media {
    ul {
      li {
        display: inline-block;
        margin-inline: 12px;
        margin-bottom: 24px;
      }
    }

    @include mq-lrg {
      text-align: center;

      ul li:last-child {
        margin-right: 10px;
      }
    }
  }

  &__menu_caption {
    @include font-size(1.7);
    font-family: "Computer";
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 1.6;

    @include mq-med {
      @include font-size(1.6);
      margin-bottom: 10px;
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;

    a {
      @include font-size(1.2);
      transition: color 0.3s ease;
      color: #fff;
      margin: 0 5px;
      display: inline-block;

      &:hover {
        transition: color 0.3s ease;
      }
    }
  }

  &__bottom-info {
    p {
      margin-bottom: 15px;
      line-height: 1.4;

      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #3c8adf;
          transition: color 0.3s ease;
        }
      }

      &.footer__powered-by {
        margin: 30px 0 5px;
        font-size: 12px;
      }
    }
  }

}

.disclaimer {
  max-width: 600px;
  margin: 0 0 100px;

  .list__item {
    margin-bottom: 20px;
  }
}
