$contentPrimary: #FFF;
$contentMed: #5b5b5b;
$contentLight: #ffffff;
$light: #ffffff;
$dark: #222222;
$divider: #dddddd;
$highlight: #00BFFF;
$navHighlight: #A6FF33;
$darkHighlight: #A6FF33;
$headerHeight: 68px;
$contentWidth: 1100px;
$positive: #8fffa1;
$negative: #fda8ac;
$linkHoverDark: #999;
$background: #f5f5f5;
$themeDark: #171921;
$primaryFont: 'Computer';